<% if @project.repository.nil? or @project.repository.scm.class != Redmine::Scm::Adapters::GitAdapter %>
  <p> this project has no git repository </p>
<% else %>
  <% form_tag :action => 'search', :project_id => @project do %>
    <%= text_field_tag :keyword, @keyword, {:autofocus=>true, :style=>'width: 300px'} %>
  <% end %>

<div id="result"/>

<script type="text/javascript">
(function(document) {

var files = null;
function listFiles() {
  var regexp = new RegExp($('keyword').value, 'i');
  var html = '';
  for (var i = 0, len = files.length; i < len; i++) {
    if (files[i].match(regexp)) {
      html += "<p><a href='<%= home_path %>projects/<%= params[:project_id] %>/repository/revisions/master/entry/" + files[i] + "'>" + files[i] + "</a></p>";
    }
  }
  $('result').update(html);
}

Event.observe(window, "load", function() { 
  new Ajax.Request(
    '<%= home_url %>incr_code_search/<%= params[:project_id] %>/search.json',
    {
      method: 'get',
      onComplete: function(req, json) { files = eval(req.responseText); listFiles()}
    });
});
new Form.Element.Observer('keyword', 0.5, listFiles);

})(document);
</script>  

<% end %>
