<% unless @scm_supported %>
  <p> unsupported repository </p>
<% else %>
  <%= form_tag :action => 'search', :project_id => @project do %>
    <%= text_field_tag :keyword, @keyword, {:autofocus=>true, :style=>'width: 300px'} %>
  <% end %>
<div id="result"/>

<script type="text/javascript">
(function(document) {

var files = null;
function listFiles() {
  var regexp = new RegExp($('keyword').value, 'ig');
  var html = '';
  for (var repository_name in files) {
    for (var i = 0, len = files[repository_name].length; i < len; i++) {
      var file = files[repository_name][i];
      if (file.match(regexp)) {
        url = "<%= url_for(:controller => 'repositories', :action => 'entry', :id => @project) %>/" + file + "?repository_id=" + repository_name ;
        highlightedText = file.replace(regexp, "<span style='color: red; background-color: yellow;'>$&</span>");
        html += "<p><a href='" + url + "'>" + repository_name + ":" + highlightedText + "</a></p>";
      }
    }
  }
  $('result').update(html);
}

Event.observe(window, "load", function() { 
  new Ajax.Request(
    '<%= home_url %>incr_code_search/files.json?project_id=<%= params[:project_id] %>',
    {
      method: 'get',
      parameters: "keyword=" + $('keyword').value,
      onComplete: function(req, json) { files = eval("(" + req.responseText + ")"); listFiles()}
    });
});
new Form.Element.Observer('keyword', 0.5, listFiles);

})(document);
</script>  

<% end %>
