<% unless @scm_supported %>
  <p> unsupported repository </p>
<% else %>
    <%= text_field_tag :keyword, @keyword, {:autofocus=>true, :style=>'width: 300px'} %>
<div id="result"/>

<%= javascript_tag do %>
(function(document) {

var files = null;
var current = null;
var keyword = ""
function listFiles() {
  current = null;
  var regexp = new RegExp($('#keyword').val(), 'ig');
  var html = '<div class="filelist">';
  for (var repository_name in files) {
    for (var i = 0, len = files[repository_name].length; i < len; i++) {
      var file = files[repository_name][i];
      if (file.match(regexp)) {
        url = "<%= url_for(:controller => 'repositories', :action => 'entry', :id => @project) %>/" + file + "?repository_id=" + repository_name ;
        highlightedText = file.replace(regexp, "<span style='color: red; background-color: yellow;'>$&</span>");
        html += "<p><a href='" + url + "'>" + repository_name + ":" + highlightedText + "</a></p>";
      }
    }
  }
  html += "</div>"
  $('#result').html(html);
  next();
}

$(document).ready(function() {
  $.ajax({
    type: 'GET',
    url: '<%= home_url %>incr_code_search/files.js',
    data: "project_id=<%= params[:project_id] %>&keyword=" + $('#keyword').val(),
    success: function(json) {
      files = json;
      listFiles();
    }
  });
});

$('#keyword').keyup(function(e) {
  if (keyword != $('#keyword').val()) {
    listFiles();
  }
  keyword = $('#keyword').val();
});

function selectCurrent() {
  current.children().first().css("background-color", "#ddd");
}

function clearSelectCurrent() {
  current.children().first().css("background-color", "");
}

function previous() {
  if (current == null) {
    current = $(".filelist p").first();
  } else {
    var element = current.prev();
    if (element.length > 0) {
      clearSelectCurrent();
      current = element;
    }
  }
  selectCurrent();
}

function next() {
  if (current == null) {
    current = $(".filelist p").first();
  } else {
    var element = current.next();
    if (element.length > 0) {
      clearSelectCurrent();
      current = element;
    }
  }
  selectCurrent();
}

function visitCurrent() {
  var url = current.children().first().attr("href");
  location.href = url;
}

$(document).keydown(function(e) {
  switch(e.keyCode) {
  case 80: // p
    if (event.ctrlKey) {
       previous();
    }
    break;
  case 78: // n
    if (event.ctrlKey) {
      next();
    }
    break;
  case 13: // enter
    visitCurrent();
    break;
  }
});

})(document);
<% end %>

<% end %>
